{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Your chances for get more than 50K </h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="year" id="year" placeholder="age">
            <input type="number" name="workclass" id="worldclass" placeholder="workclass">
            <input type="number" name="fnlwgt" id="fnlwgt" placeholder="fnlwgt">
            <input type="number" name="education" id="education" placeholder="education">
            <input type="number" name="education-num" id="education-num" placeholder="education-num">
            <input type="number" name="marital-status" id="marital-status"placeholder="marital-status" step="any">
            <select name="occupation" id="occupation"placeholder="marital-status">
  <option value="Adm-clerical">Adm-clerical</option>
  <option value="Exec-managerial">Exec-managerial</option>
</select>
               <select name="relationship" id="relationship">
  <option value="Not-in-family"> Not-in-family</option>
  <option value="Husband">Husband</option>
</select>

            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}